<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/TicTacGame">Game</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>
<hr class="grey">

<div style="padding-left:16px">

</div>